.portfolio {
    padding: 20px 0 0;

    @media only screen and (min-width: 1020px) {
        padding-top: 32px;
    }

    &__item {
        width: 100%;
        margin-bottom: 20px;
        color: $kellieBlue;
        text-decoration: none;
        transition: color 0.3s linear;

        &:hover {
            color: $andrewGreen;
        }

        @media only screen and (min-width: 600px) {
            width: 48%;
        }

        @media only screen and (min-width: 1020px) {
            width: 24%;
            margin-bottom: 32px;
        }
    }

    &__images {
        position: relative;

        &:hover {

            .portfolio {

                &__image {
                    filter: none;
                }
            }
        }
    }

    &__image {
        filter: grayscale(100%) blur(3px);
        @extend %ease;
    }
}
